@import 'colors';

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: $secondary-color;
  height: 80vh;

  img {
    width: 35%;
  }

  p {
    width: 30%;
    text-align: justify;
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  #about {
    flex-direction: column-reverse;
    height: 100vh;

    img {
      width: 80%;
    }

    p {
      width: 80%;
      text-align: justify;
    }
  }
}