@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  align-items: center;
  background-color: #FF69B4;
  height: 15vh;
}

.header-content {
  display: flex;
  align-items: center;
}
.header-content h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}
.header-content img {
  height: 14vh;
}

nav {
  width: 30%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #FFD9EC;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: 25vh;
    padding: 1rem 2rem;
  }
  .header-content h1 {
    font-size: 1.5rem;
  }
  .header-content img {
    height: 10vh;
  }
  nav {
    width: 100%;
    align-items: center;
  }
  ul {
    gap: 1rem;
  }
  li {
    font-size: 1rem;
  }
}
#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFD9EC;
  height: 85vh;
}
#about p {
  width: 45%;
  font-size: 1.5rem;
  font-weight: 400;
}
#about img {
  width: 35%;
}
@media (max-width: 768px) {
  #about {
    flex-direction: column-reverse;
    align-items: center;
    text-align: justify;
    height: 100vh;
  }
  #about p {
    width: 90%;
    font-size: 18px;
  }
  #about img {
    width: 80%;
  }
}

#awareness {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FF69B4;
  height: 70vh;
}
#awareness p {
  width: 47%;
  font-size: 1.5rem;
  font-weight: 400;
}
#awareness img {
  width: 35%;
}
@media (max-width: 768px) {
  #awareness {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  #awareness p {
    width: 90%;
    font-size: 18px;
  }
  #awareness img {
    width: 90%;
  }
}

#tips {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFD9EC;
  height: 70vh;
}
#tips img {
  width: 20%;
}
@media screen and (max-width: 768px) {
  #tips {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem;
  }
  #tips img {
    width: 60%;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FF69B4;
}
footer img {
  width: 8vw;
}

.social-icons {
  width: 20%;
}
.social-icons ul {
  display: flex;
  justify-content: space-evenly;
}
.social-icons ul li {
  list-style: none;
}
.social-icons ul li a {
  text-decoration: none;
  color: black;
  font-size: 56px;
  font-weight: 400;
}
.social-icons ul li a:hover {
  color: #FFD9EC;
}

.credits {
  width: 30%;
  color: white;
  text-align: center;
}
.credits span {
  font-weight: 700;
}

@media (max-width: 768px) {
  footer {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
  }
  footer img {
    width: 20vw;
  }
  .social-icons {
    width: 80%;
  }
  .social-icons i {
    font-size: 2rem;
  }
  .credits {
    width: 100%;
    padding: 1rem;
  }
}/*# sourceMappingURL=style.css.map */